; -*- mode: clojure; -*-
; vim: filetype=clojure:ts=2:sw=2

(periodically-expire 5)

(let [index (index)] 
  (streams
    (default :ttl 60 index
      (with {:metric 1 :host nil :state "ok" :service "events/sec"}
        (rate 5 (where (<= 0 metric 5) (with :state "critical" index) (else index)))))))